page-dashboard {
    .alignme{
        text-align: right;
        margin-left: 80%;
    }
    .btn-wrapper {
        text-align: center;
        font:x-small;
    }
    #ion-card-header2 {
        color: #836953;
        font-weight: bold;
    }
    #ion-card-header3 {
        color: #836953;
        font-weight: bold;
        font-size: 0.99em;
    }
    #item-avatar  {     
        width:100% !important;  
        height : 100% !important;  
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size 
    }#item-avatar2  {     
        width:100% !important;  
        height : 100% !important;  
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size 
    }
    
   
    
    
}
.dashboardContent{
    margin-top: 75px;
}
#subheader{
    font-size: 2px;
}
#subcard{
    margin-left: 10px;
}
.alert-radio-label {
    white-space: normal!important;
}
.card {
    height: 100%;
  }
  .ion-select{
    width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    
  }

