<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding="" style="background:url(assets/imgs/background2.jpg);background-size:cover;">
  <ion-header>
    <ion-toolbar class="btn-wrapper">
      <div [ngSwitch]="typeData" *ngIf="pageTriger.match('list')">
        <div>
          <ion-row>
            <ion-col>
              <ion-title *ngSwitchCase="'commentsData'" id="subheader">Top Commenters Summary
              </ion-title>
            </ion-col>
            <ion-col>
              <ion-title *ngSwitchCase="'likesData'" id="subheader">Top Reactioners Summary
              </ion-title>
            </ion-col>
            <ion-col col-2>
              <button ion-button icon-only (click)="getDashboard()">
                <ion-icon name="refresh"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div *ngIf="pageTriger.match('chart')">
        <ion-title>Your Posts Summary
          <button ion-button icon-only (click)="getDashboard()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="pageTriger.match('chart')" class='dashboardContent'>
    <ion-card>
      <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged(segment)">
        <ion-segment-button value="post">
          Posts
        </ion-segment-button>
        <ion-segment-button value="day">
          Days
        </ion-segment-button>
        <ion-segment-button value="am">
          AM.
        </ion-segment-button>
        <ion-segment-button value="pm">
          PM.
        </ion-segment-button>
        <ion-segment-button value="month">
          Month
        </ion-segment-button>
      </ion-segment>
    </ion-card>
    <ion-card has-header="true">
      <ion-card-header id="ion-card-header2">
        <ion-row>
          <ion-col col-4>Top posts in </ion-col>
          <ion-col col-8>
            <ion-select [(ngModel)]="sortByTime" (ionChange)="hasData=false;getDashboard();" class="myCustomSelect">
              <ion-option>Last 1 day</ion-option>
              <ion-option>Last 1 week</ion-option>
              <ion-option>Last 1 month</ion-option>
              <ion-option>Last 3 months</ion-option>
              <ion-option>Last 6 months</ion-option>
              <ion-option>Last 1 year</ion-option>
              <ion-option>Last 2 years</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <canvas height="350" item-content #barCanvas type></canvas>

    </ion-card>

    <ion-card *ngIf="maxCommentsPost" has-header="true">
      <ion-card-header text-wrap id="ion-card-header3">
        <ion-row>
          <ion-col col-4> Top Post by Comments in </ion-col>
          <ion-col col-8>
            <ion-select [(ngModel)]="sortByTime" (ionChange)="getDashboard()" class="myCustomSelect">
              <ion-option>Last 1 day</ion-option>
              <ion-option>Last 1 week</ion-option>
              <ion-option>Last 1 month</ion-option>
              <ion-option>Last 3 months</ion-option>
              <ion-option>Last 6 months</ion-option>
              <ion-option>Last 1 year</ion-option>
              <ion-option>Last 2 years</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            {{maxCommentsPost.created_time}}
          </ion-col>
          <ion-col>
            <ion-grid style="margin-top:-10px;">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/icon/chat.png" style="width:24px;">
                </ion-col>
                <ion-col>
                  {{maxCommentsPost.total_comments}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-item text-wrap>{{maxCommentsMsg}}
          <img *ngIf="maxCommentsPic" src={{maxCommentsPic}}>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="maxReactionsPost">
      <ion-card-header text-wrap id="ion-card-header3">
        <ion-row>
          <ion-col col-4>Top Post by Reactions in </ion-col>
          <ion-col col-8>
            <ion-select [(ngModel)]="sortByTime" (ionChange)="getDashboard()" class="myCustomSelect">
              <ion-option>Last 1 day</ion-option>
              <ion-option>Last 1 week</ion-option>
              <ion-option>Last 1 month</ion-option>
              <ion-option>Last 3 months</ion-option>
              <ion-option>Last 6 months</ion-option>
              <ion-option>Last 1 year</ion-option>
              <ion-option>Last 2 years</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            {{maxReactionsPost.created_time}}
          </ion-col>
          <ion-col>
            <ion-grid style="margin-top:-10px;">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/icon/flame.png" style="width:24px;">
                </ion-col>
                <ion-col>
                  {{maxReactionsPost.total_reactions}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-item text-wrap>{{maxReactionsMsg}}
          <img *ngIf="maxReactionsPic" src={{maxReactionsPic}}>
        </ion-item>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header text-wrap id="ion-card-header3">
        <ion-row>
          <ion-col col-4> Word Cloud in </ion-col>
          <ion-col col-8>
            <ion-select [(ngModel)]="sortByTime" (ionChange)="getDashboard()" class="myCustomSelect">
              <ion-option>Last 1 day</ion-option>
              <ion-option>Last 1 week</ion-option>
              <ion-option>Last 1 month</ion-option>
              <ion-option>Last 3 months</ion-option>
              <ion-option>Last 6 months</ion-option>
              <ion-option>Last 1 year</ion-option>
              <ion-option>Last 2 years</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <img [src]='wordCloud'>
      </ion-card-content>
    </ion-card>

  </div>
  <div *ngIf="pageTriger.match('list')" class='dashboardContent'>
    <ion-card>
      <ion-segment [(ngModel)]="typeData" color="primary">
        <ion-segment-button value="commentsData">
          Top Commenters
        </ion-segment-button>
        <ion-segment-button value="likesData">
          Top Reactioners
        </ion-segment-button>
      </ion-segment>
    </ion-card>
    <div [ngSwitch]="typeData">
      <div *ngSwitchCase="'commentsData'">
        <ion-card has-header="true">
          <ion-card-header id="ion-card-header3">
            <ion-row>
              <ion-col col-6>Top Commenters on Your Posts in </ion-col>
              <ion-col col-6>
                <ion-select [(ngModel)]="sortByTime" (ionChange)="hasData=false;getDashboard();" class="myCustomSelect">
                  <ion-option>Last 1 day</ion-option>
                  <ion-option>Last 1 week</ion-option>
                  <ion-option>Last 1 month</ion-option>
                  <ion-option>Last 3 months</ion-option>
                  <ion-option>Last 6 months</ion-option>
                  <ion-option>Last 1 year</ion-option>
                  <ion-option>Last 2 years</ion-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
        <ion-list *ngFor="let item of commentsData">
          <ion-card no-padding>
            <ion-card-content no-padding>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-avatar>
                        <img id="item-avatar" src="http://graph.facebook.com/{{item._uid}}/picture?type=large">
                      </ion-avatar>
                    </ion-item>
                  </ion-col>
                  <ion-col col-8>
                    <ion-card-header (click)="presentProfileModal(item._uid,item.name)" id="ion-card-header2">
                      <ion-label text-wrap style="word-wrap: break-word">{{item.name}}</ion-label>
                    </ion-card-header>
                    <ion-item style="margin-top:-30px">
                      <ion-grid style="margin-top:-10px;">
                        <ion-row>
                          <ion-col>
                            <label style="margin-right:5px">Comments</label>
                          </ion-col>
                          <ion-col>
                            <img src="assets/imgs/icon/chat.png" style="width:24px;">
                          </ion-col>
                          <ion-col>
                            <label>{{item.comments}}</label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngSwitchCase="'likesData'">
        <ion-card has-header="true">
          <ion-card-header id="ion-card-header3">
            <ion-row>
              <ion-col col-6>Top Reactioners on Your Posts in </ion-col>
              <ion-col col-6>
                <ion-select [(ngModel)]="sortByTime" (ionChange)="getDashboard()" class="myCustomSelect">
                  <ion-option>Last 1 day</ion-option>
                  <ion-option>Last 1 week</ion-option>
                  <ion-option>Last 1 month</ion-option>
                  <ion-option>Last 3 months</ion-option>
                  <ion-option>Last 6 months</ion-option>
                  <ion-option>Last 1 year</ion-option>
                  <ion-option>Last 2 years</ion-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
        <ion-list *ngFor="let item of reactionsData">
          <ion-card no-padding>
            <ion-card-content no-padding>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-avatar>
                        <img id="item-avatar2" src="http://graph.facebook.com/{{item._uid}}/picture?type=large">
                      </ion-avatar>
                    </ion-item>
                  </ion-col>
                  <ion-col col-8>
                    <ion-card-header text-wrap (click)="presentProfileModal(item._uid,item.name)" id="ion-card-header2">
                      <ion-grid style="margin-top:-10px;">
                        <ion-row>
                          <ion-col style="word-wrap: break-word">{{item.name}}</ion-col>
                          <ion-col col-4>
                            <button ion-button clear small>
                              <img src="assets/imgs/icon/flame.png" style="width:24px;">
                              <label>{{item.total}}</label>
                            </button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-header>
                  </ion-col>
                </ion-row>
                <ion-row style="text-align: center;">
                  <ion-col *ngIf="item.LIKE>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/like.png" style="width:24px;margin-right:3px;">
                      <label>{{item.LIKE}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.LOVE>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/heart.png" style="width:24px;margin-right:3px;">
                      <label>{{item.LOVE}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.WOW>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/surprised.png" style="width:24px;margin-right:3px;">

                      <label>{{item.WOW}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.HAHA>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/laughing.png" style="width:24px;margin-right:3px;">

                      <label>{{item.HAHA}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.SAD>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/crying.png" style="width:24px;margin-right:3px;">

                      <label>{{item.SAD}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.ANGRY>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/ANGRY.png" style="width:24px;margin-right:3px;">

                      <label>{{item.ANGRY}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.THANKFUL>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/flower.png" style="width:24px;margin-right:3px;">

                      <label style="margin-left:-10px;">{{item.THANKFUL}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.LIKE==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/like.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.LOVE==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/heart.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.WOW==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/surprised.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.HAHA==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/laughing.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.SAD==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/crying.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.ANGRY==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/angry.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.THANKFUL>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/flower.png" style="width:24px;">
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div>
        <ion-col>
          <button ion-button *ngIf="!isAll" (click)="getAllTops()" color="facebook">See more ...</button>
        </ion-col>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="btn-wrapper">
    <button ion-button icon-only color="soft" (click)='trigerPage()'>
      <ion-icon name="arrow-up" *ngIf="pageTriger.match('list')"></ion-icon>
      <ion-icon name="arrow-down" *ngIf="pageTriger.match('chart')"></ion-icon>
    </button>
  </div>
</ion-footer>