page-dashboard {
    .alignme{
        text-align: right;
        margin-left: 80%;
    }
    .btn-wrapper {
        text-align: center;
        font:x-small;
    }
    #dashboardContent{
        margin-top: 50x
    }
    #subheader{
        font-size: 2px;
    }
    
    
}
