<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding="" style="background:url(assets/imgs/background2.jpg);background-size:cover;">
  <ion-header>
    <ion-toolbar class="btn-wrapper">
      <div [ngSwitch]="typeData" *ngIf="pageTriger.match('list')">
        <div>
          <ion-title *ngSwitchCase="'commentsData'" id="subheader">Top Comments Users on Your Posts</ion-title>
          <ion-title *ngSwitchCase="'likesData'" id="subheader">Top Likes Users on Your Posts</ion-title>

          <ion-segment [(ngModel)]="typeData" color="primary">
            <ion-segment-button value="commentsData">
              Top Commenters
            </ion-segment-button>
            <ion-segment-button value="likesData">
              Top Reactioners
            </ion-segment-button>
          </ion-segment>
        </div>
      </div>
      <div *ngIf="pageTriger.match('chart')">
        <ion-title>Your Posts Summary</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="pageTriger.match('chart')" class='dashboardContent'>
    <ion-card has-header="true">
      <ion-card-header id="ion-card-header2">
        Top posts in {{sortByTime}}
      </ion-card-header>

      <canvas height="350" item-content #barCanvas type></canvas>

    </ion-card>

    <ion-card *ngIf="maxCommentsPost" has-header="true">
      <ion-card-header text-wrap id="ion-card-header3">
        Top Post by Comments in {{sortByTime}}
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            {{maxCommentsPost.created_time}}
          </ion-col>
          <ion-col>
            <ion-grid style="margin-top:-10px;">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/icon/chat.png" style="width:24px;">
                </ion-col>
                <ion-col>
                  {{maxCommentsPost.total_comments}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-item text-wrap>{{maxCommentsMsg}}</ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="maxReactionsPost">
      <ion-card-header text-wrap id="ion-card-header3">
        Top Post by Reactions in {{sortByTime}}
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            {{maxReactionsPost.created_time}}
          </ion-col>
          <ion-col>
            <ion-grid style="margin-top:-10px;">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/icon/flame.png" style="width:24px;">
                </ion-col>
                <ion-col>
                  {{maxReactionsPost.total_reactions}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-item text-wrap>{{maxReactionsMsg}}</ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="pageTriger.match('list')" class='dashboardContent'>
    <div [ngSwitch]="typeData">
      <div *ngSwitchCase="'commentsData'">
        <ion-list *ngFor="let item of commentsData">
          <ion-card no-padding>
            <ion-card-content no-padding>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-avatar>
                        <img id="item-avatar" src="http://graph.facebook.com/{{item._uid}}/picture?type=square">
                      </ion-avatar>
                    </ion-item>
                  </ion-col>
                  <ion-col col-8>
                    <ion-card-header (click)="presentProfileModal(item._uid,item.name)" id="ion-card-header2">
                      <ion-label text-wrap style="word-wrap: break-word">{{item.name}}</ion-label>
                    </ion-card-header>
                    <ion-item style="margin-top:-30px">
                      <ion-grid style="margin-top:-10px;">
                        <ion-row>
                          <ion-col>
                            <label style="margin-right:5px">Comments</label>
                          </ion-col>
                          <ion-col>
                            <img src="assets/imgs/icon/chat.png" style="width:24px;">
                          </ion-col>
                          <ion-col>
                            <label>{{item.comments}}</label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngSwitchCase="'likesData'">
        <ion-list *ngFor="let item of reactionsData">
          <ion-card no-padding>
            <ion-card-content no-padding>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-avatar>
                        <img id="item-avatar2" src="http://graph.facebook.com/{{item._uid}}/picture?type=square">
                      </ion-avatar>
                    </ion-item>
                  </ion-col>
                  <ion-col col-8>
                    <ion-card-header text-wrap (click)="presentProfileModal(item._uid,item.name)" id="ion-card-header2">
                      <ion-col style="word-wrap: break-word">{{item.name}}</ion-col>
                      <ion-col>
                        <ion-grid style="margin-top:-10px;">
                          <ion-row>
                            <ion-col>
                              <img src="assets/imgs/icon/flame.png" style="width:24px;">
                            </ion-col>
                            <ion-col>
                              <label>{{item.total}}</label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-card-header>
                  </ion-col>
                </ion-row>
                <ion-row style="text-align: center;">
                  <ion-col *ngIf="item.like>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/like.png" style="width:24px;margin-right:3px;">
                      <label>{{item.like}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.love>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/heart.png" style="width:24px;margin-right:3px;">
                      <label>{{item.love}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.wow>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/surprised.png" style="width:24px;margin-right:3px;">

                      <label>{{item.wow}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.haha>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/laughing.png" style="width:24px;margin-right:3px;">

                      <label>{{item.haha}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.sad>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/crying.png" style="width:24px;margin-right:3px;">

                      <label>{{item.sad}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.angry>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/angry.png" style="width:24px;margin-right:3px;">

                      <label>{{item.angry}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.thankful>0">
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/flower.png" style="width:24px;margin-right:3px;">

                      <label style="margin-left:-10px;">{{item.thankful}}</label>
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.like==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/like.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.love==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/heart.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.wow==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/surprised.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.haha==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/laughing.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.sad==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/crying.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.angry==0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/angry.png" style="width:24px;opacity: 0.5;">
                    </button>
                  </ion-col>
                  <ion-col *ngIf="item.thankful>0" col-2>
                    <button ion-button clear small>
                      <img src="assets/imgs/icon/flower.png" style="width:24px;">
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div>
        <ion-col>
          <button ion-button (click)="getAllTops()" color="facebook">See more ...</button>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="sortByTime" (ionChange)="getFacebookData()">
            <ion-option>Last 1 week</ion-option>
            <ion-option>Last 1 month</ion-option>
            <ion-option>Last 3 months</ion-option>
            <ion-option>Last 6 months</ion-option>
            <ion-option>Last 1 year</ion-option>
            <ion-option>Last 2 years</ion-option>
            <ion-option>Last 5 years</ion-option>
          </ion-select>
        </ion-col>


      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="btn-wrapper">
    <button ion-button icon-only color="soft" (click)='trigerPage()'>
      <ion-icon name="arrow-up" *ngIf="pageTriger.match('list')"></ion-icon>
      <ion-icon name="arrow-down" *ngIf="pageTriger.match('chart')"></ion-icon>
    </button>
  </div>
</ion-footer>