<!--
  Generated template for the NewfeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <expandable-header [scrollArea]="mycontent" headerHeight="125">
   <search-bar></search-bar> 
  <ion-navbar style="display:none"></ion-navbar>
</expandable-header> -->

<ion-content no-bounce style="background:url(assets/imgs/background2.jpg);background-size:cover;" fullscreen #mycontent padding="true">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
    <ion-list *ngFor="let item of newsData;let i = index">
      <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="dislikePost(item.meta_data,i)" (throwoutright)="likePost(item.meta_data,i)" id="card-stack">
      <ion-card #mycards1 swing-card class="td-card" id="card_{{i}}">

        <ion-item (click)="presentProfileModal(item.page_id,item.page_name)">
          <ion-avatar item-start>
            <img src={{item.page_picture}}>
          </ion-avatar>
          <h2 style="display:inline">{{item.page_name}}</h2>
          <p>{{item.created_time}}</p>
        </ion-item>

        <img (click)='playVideo(item.id)' src={{item.full_picture}} />

        <ion-card-content>
          <div>
            <div id="blocktext_{{i}}" class="textblock">
              <div *ngFor="let str of item.message.split('\n')">
                {{ str }}
              </div>
            </div>
            <a id="readmore_{{i}}" (click)="readMore(i)" ng-cloak>read more</a>
            <div id="blocktextall_{{i}}" class="textblock-hidden">
              <div *ngFor="let str of item.message.split('\n')">
                {{ str }}
              </div>
            </div>
          </div>
        </ion-card-content>
        <div>
          <ion-row style="border-bottom: 1px solid gray;">

            <ion-col col-2>
              <ion-label style="margin-left:10px;">
                <img src="assets/imgs/icon/flame.png" style="width:24px;">
              </ion-label>
            </ion-col>
            <ion-col col-3>
              <ion-label>{{item.meta_data.reactions_summary}}</ion-label>
            </ion-col>
            <ion-col col-2>
              <ion-label>
                <img src="assets/imgs/icon/chat.png" style="width:24px;">
              </ion-label>
            </ion-col>
            <ion-col col-5>
              <ion-label>{{item.meta_data.comments_summary}}</ion-label>
            </ion-col>

          </ion-row>
        </div>
        <ion-row>
          <button ion-button full (click)="seeComments(item.id)">See Comments</button>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full icon-center clear small (click)="likePost(item.meta_data)">
              <img src="assets/imgs/icon/like.png" style="width:24px;margin-right:5px">
              <div>Likes</div>
            </button>
          </ion-col>
          <button class="button circle text-center">
            <i class="ion-crop"></i>
          </button>
          <ion-col>
            <button ion-button full icon-center clear small (click)="dislikePost(item.meta_data)">
              <img src="assets/imgs/icon/chat.png" style="width:24px;margin-right:5px">
              <div>Dislike</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
    </div>
    </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more feed..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>