page-user-profile {
    .ed .ed-cover
{
    height:315px;
    overflow:hidden;
    position:absolute;
}


.myCard{
    position: absolute;;
  
  }
  #cardList{
      margin-top:55%;
  }
 
  #myOverlay{
    width:100% !important;  
    height : 100% !important;    //any size
    max-height: 180px !important;
    position:absolute; 
    left:0px;
    top:0px;
  }
  #myOverlay2{
    position: absolute;

}
#ion-card-header2 {
    color: #836953;
    font-weight: bold;
}

#item-avatar2  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
}#item-avatar2  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    position:absolute;
    top:20%;
    left:10%;
}
}