<!--
  Generated template for the ImagePickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <button ion-button full (click)="getImage()">Get Image from Your Gallery</button>
  
  <ion-card *ngIf="imageURL">
    <ion-card-content>
    <img src="data:image/jpeg;base64,{{imageURL}}" />
    </ion-card-content>
  </ion-card>
  <button ion-button full *ngIf="imageURL" (click)="uploadImage()">Upload File</button>
</ion-content>