<ion-header>

  <ion-navbar>
      
    <ion-title>commentsPage</ion-title>
    <ion-buttons end>
        <button ion-button (click)="close()">Close</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let item of commentsData">
    <ion-card>
      <ion-item>
        <p>{{item.created_time}}</p>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let str of item.message.split('\n')">
          {{ str }}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>